.m-policy__header {
  color: $GRAY0;
  &-title {
    font-size: $FONT-SIZE-XL;
    font-weight: $FONT-WEIGHT-BOLD;
  }

  &-explanation {
    font-size: $FONT-SIZE-XS;
    font-weight: $FONT-WEIGHT-NORMAL;
  }
}

.m-policy__body {
  color: $GRAY0;
  &-title {
    font-size: $FONT-SIZE-MD;
    font-weight: $FONT-WEIGHT-BOLD;
    border-left: solid 5px $THEME;
    padding-left: 5px;
  }

  &-main {
    font-size: $FONT-SIZE-XS;
    font-weight: $FONT-WEIGHT-NORMAL;
  }
}
