.m-shopDetail {
  &__header {
    display: flex;

    &-label {
      display: flex;
      align-items: center;
    }

    &-form-button {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  &__form {
    &-signup-button {
      margin: 10px 0;
      text-align: center;
    }
  }

  &__user-review {
    margin: 10px 0;

    &-empty {
      text-align: center;

      img {
        width: 400px;
        height: auto;
      }
    }
  }
}

// 以下スマホ向け
@include media-breakpoint-down(md) {
  .m-shopDetail {
    width: 100%;
  }
}