.btn-basic {
  background-color: $THEME;
  padding: 10px 20px;
  color: $WHITE0;
  transition: 0.3s;
  font-size: $FONT-SIZE-MD;
  font-weight: $FONT-WEIGHT-BOLD;
  box-shadow: 0 0 10px rgba($SHADOW0, 0.3);
  margin-top: 0;
  border: none;
  outline: none;

  &:hover {
    color: $WHITE0;
    background-color: lighten($THEME, 10%);
  }
}