/* body等の共通スタイル */

body {
  background-color: $WHITE2;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  z-index: 9999;
  margin-bottom: 30px;
  border-bottom: solid 1px $GRAY1;
  img {
    transition: .3s;
    &:hover {
      margin-bottom: 3px;
      opacity: .8;
    }
  }
}