/* body等の共通スタイル */

body {
  background-color: $WHITE2;
  counter-reset: shop-counter;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  z-index: 9999;
  margin-bottom: 30px;
  border-bottom: solid 1px $GRAY1;
  a {
    margin-bottom: 0;
    opacity: 1;
    transition: .3s;
    &:hover {
      margin-bottom: 6px;
      opacity: .8;
    }
  }

  .svg-container {
    width: 250px;
    height: auto;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 9999;
  margin-top: 30px;
  border-top: solid 1px $GRAY1;
  font-size: $FONT-SIZE-MD;
  color: $GRAY0;
  font-weight: $FONT-WEIGHT-NORMAL;

  a {
    color: $GRAY0;
    padding: 0 5px;

    &:not(:last-child) {
      border-right: solid 1px $GRAY1;
    }

    &:hover {
      color: lighten($GRAY0, 30%)
    }
  }

  .copyright-text {
    font-weight: $FONT-WEIGHT-BOLD;
  }

  .footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 2px 5px;
  }
}

.footer-fixed {
  min-height: 100vh;
  position: relative;
  padding-bottom: 90px;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.map-container {
  background-color: $WHITE0;
  height: 500px;
  margin-bottom: 30px;
  position: relative;
}

.map-wrapper {
  box-shadow: 0 0 10px 0 rgba($SHADOW0, 0.4);
}

.map-menu {
  background-color: $THEME;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $FONT-SIZE-MD;
  color: $WHITE0;
  font-weight: $FONT-WEIGHT-BOLD;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    height: 45px;
    background-color: lighten($THEME, 10%);
  }
}

.map-menu-icon {
  margin-left: 10px;
}