.shop-appearance-img-container {
  position: relative;
  border-radius: 20px 20px 0 0;
  height: 400px;
  padding: 0;
  background: rgba(white, 0.3);
  border: 1 solid rgba(white, 0.3);
  box-shadow: 0 0 6px 0 rgba(black, 0.2);
  .img-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(black, 0), rgba(black, 0) 60%,  rgba(black, 0.3) 80%, rgba(black, 0.4));
    p {
      color: white;
      font-size: 2.2rem;
      padding: 0;
      margin: 0 15px 0 0;
      text-shadow: 0 0 6px black;
    }
  }
  img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
  }
}

.shop-description-container {
  border-radius: 0 0 20px 20px;
  margin-bottom: 15px;
  & > div:nth-of-type(n+2) {
    margin: 10px 0;
  }
}

.user-review {
  border-radius: 20px;
  & > div:nth-of-type(n+2) {
    margin: 10px 0;
  }
}

.twitter-content {
  width: 100%;
  display: flexbox;
  border-radius: 20px;
  margin-left: 15px;
  .twitter-timeline {
    margin-top: 10px;
    *:hover {
      background: rgba(white, 0);
    }
  }
}

.shop-label {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 15px;
  background-color: rgba(black, 0.5);
  font-size: 1rem;
  color: white;
}

.btn-label-size {
  margin-right: 10px;
  padding: 3px 15px;
  font-size: 1rem;
}

.today-opening-hours {
  color: white;
  text-shadow: 0 0 6px #0D3A40;
  margin-right: 10px;
}

.opening_hours_table {
  font-size: 0;
  color: white;
  margin: 0;
  padding: 0;
  background: rgba(black, 0.2);
  border-radius: 0;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.table-toggle {
  transition: all 0.3s;
}

.user-review-content {
  margin: 10px 0 0 10px;
}

.only-playing-games {
  margin-right: 5px;
}

.user-review-image {
  background: white;
  border-radius: 10px;
  margin-right: 5px;
  width: 125px;
  height: 125px;
  box-shadow: 0 0 6px 0 rgba(white, 0.7);
  object-fit: cover;
}

.user-reviews {
  .review {
    margin-bottom: 15px;
    .icon {
      width: 40px;
      border: 1px solid $gray-200;
      margin-right: 10px;
    }
    .user-name {
      margin-right: 10px;
    }
    .review-date {
      opacity: 0.5;
    }
    .user-review-about {
      margin-top: 5px;
      .badge {
        margin-right: 5px;
        margin-bottom: 5px;
        .badge-content-no-data {
          padding: 2px 5px;
          .game-title-no-data { 
            height: 22px;
            font-size: 0.8rem;
          }
        }
      }
    }
    .body-image {
      margin-top: 10px;
    }
  }
}

#table-check:checked ~ .shop-description-container .opening_hours_table {
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 20px;
  opacity: 1;
  th:first-child {
    padding: 5px 5px 5px 30px;
  }
  th:last-child {
    padding: 5px 30px 5px 5px;
  }
  tr:first-child > th {
    padding-top: 10px;
  }
  tr:last-child > th {
    padding-bottom: 10px;
  }
}

.user-review-form-container {
  display: none;
}

#table-check:checked ~ .shop-description-container .table-toggle {
  transform: rotate(-180deg);
}

#user-review-form-check:checked ~ .user-review-form-container {
  display: block;
}

// 以下スマホ向け
@include media-breakpoint-down(sm) {
  .shop-appearance-img-container {
    border-radius: 10px 10px 0 0;
    height: 200px;
    .img-cover {
      background: linear-gradient(rgba(black, 0), rgba(black, 0) 60%,  rgba(black, 0.8) 90%, rgba(black, 0.9));
      p {
        font-size: 1rem;
        margin: 0 10px 3px 0;
      }
    }
    img {
      border-radius: 10px 10px 0 0;
    }
  }

  .shop-description-container {
    border-radius: 0 0 10px 10px;
  }

  .user-review {
    border-radius: 10px;
  }

  .shop-label {
    margin-right: 5px;
    padding: 2px 13px;
    font-size: 0.8rem;
  }

  .btn-label-size {
    margin-right: 5px;
    padding: 2px 13px;
    font-size: 0.8rem;
  }

  .user-review-image {
    background: white;
    border-radius: 10px;
    margin-right: 5px;
    width: 80px;
    height: 80px;
  }

  .user-reviews {
    .icon {
      width: 30px;
      margin-right: 5px;
    }
  }

  .twitter-content {
    display: none;
  }

  #table-check:checked ~ .shop-description-container .opening_hours_table {
    margin: 10px 0;
    border-radius: 10px;
    font-size: 0.8rem;
    th:first-child {
      padding: 3px 5px 3px 20px;
    }
    th:last-child {
      padding: 3px 20px 5px 3px;
    }
    tr:first-child > th {
      padding-top: 6px;
    }
    tr:last-child > th {
      padding-bottom: 6px;
    }
  }
}