.tutorial-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0);
  transition: all 0.3s;
  .tutorial-character {
    position: absolute;
    bottom: 23%;
    max-width: 600px;
    width: 0%;
    opacity: 0;
    height: auto;
    transition: all 1s;
    img {
      width: 100%;
    }
  }

  .tutorial-message-box {
    position: absolute;
    bottom: 10%;
    max-width: 70vw;
    width: 0%;
    height: 0%;
    border-radius: 10px;
    margin: 0 10px;
    opacity: 0;
    transition: all 1s;
  }
  .tutorial-message {
    font-size: 0rem;
    opacity: 0;
    transition: all 0.3s;
  }
  .tutorial-select {
    position: absolute;
    width: 80%;
    height: 100%;
    .tutorial-select-button {
      background: rgba(black, 0.3) !important;
      min-width: 40%;
      height: 20%;
      margin: 0 1000px;
      opacity: 0;
      border-radius: 10px;
      color: white;
      font-size: 2rem;
      transition: all 1s;
      &:hover {
        background: rgba(black, 0.1) !important;
      }
    }
  }
  .tutorial-focus {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background: rgba(white, 0.1) !important;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.5s;
  }
  .container-xl {
    position: absolute !important;
    top: 0;
    height: 100%;
    .focus-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  z-index: 9999;
}

.vue-typer {
  .custom {
    &.char {
      &.typed {
        color: white;
      }
      &.selected {
        color: white;
        background-color: rgba(white, 0);
      }
    }
    &.caret {
      background-color: white;
    }
  }
}


// アニメーション用

// * チュートリアル開始アニメーション *
#tutorial-animation-start:checked ~ .tutorial-container {
  background-color: rgba(black, 0.6);
  .tutorial-character {
    width: 100%;
    opacity: 1;
  }
  .tutorial-message-box {
    width: 100%;
    height: 10%;
    opacity: 1;
  }
  .tutorial-message {
    font-size: 1.2rem;
    opacity: 1;
  }
}

// * 選択肢表示アニメーション *
#tutorial-animation-select:checked ~ .tutorial-container {
  .tutorial-select-button {
    margin: 0 10px;
    opacity: 1;
  }
}

// * 説明アニメーション (map) *
#tutorial-animation-about-map:checked ~ .tutorial-container {
  .tutorial-focus {
    $map-position-top: 93px;
    $map-width: 100%;
    $map-height: 500px;
    $focus-margin: 10px;
    top: $map-position-top - $focus-margin;
    width: $map-width;
    height: $map-height + ( 2 * $focus-margin );
    opacity: 1;
  }
  .tutorial-character {
    width: 0%;
    opacity: 0;
  }
}

// * 説明アニメーション (geolocation) *
#tutorial-animation-about-geolocation:checked ~ .tutorial-container {
  .tutorial-focus {
    $map-position-top: 93px;
    $map-width: 100%;
    $map-height: 500px;
    $button-width: 35px;
    $button-height: 35px;
    $button-margin: 10px;
    $focus-margin: 10px;
    top: $map-position-top + $map-height - $button-margin - $button-height - $focus-margin;
    width: $button-width + ( 2 * $focus-margin );
    height: $button-height + ( 2 * $focus-margin );
    left: 0;
    opacity: 1;
  }
}

// * 説明アニメーション (search by map) *
#tutorial-animation-about-search-by-map:checked ~ .tutorial-container {
  .tutorial-focus {
    $map-position-top: 93px;
    $map-width: 100%;
    $map-height: 500px;
    $button-width: 35px;
    $button-height: 35px;
    $button-margin: 50px;
    $focus-margin: 10px;
    top: $map-position-top + $map-height - $button-margin - $button-height - $focus-margin;
    width: $button-width + ( 2 * $focus-margin );
    height: $button-height + ( 2 * $focus-margin );
    left: 0;
    opacity: 1;
    transform: translate(0, 0);
  }
}

// * 説明アニメーション (search by free word) *
#tutorial-animation-about-search-by-free-word-middle:checked ~ .tutorial-container {
  .tutorial-focus {
    width: 0;
    height: 0;
    top: 0;
  }
}

#tutorial-animation-about-search-by-free-word:checked ~ .tutorial-container {
  .tutorial-focus {
    transition: all 0.5s;
    $header-padding-y: 10px;
    $header-padding-x: 20px;
    $field-width: 320px;
    $field-height: 38px;
    $field-margin: 45px + $header-padding-x;
    $focus-margin: 10px;
    top: $header-padding-y;
    width: $field-width + ( 2 * $focus-margin );
    height: $field-height + ( 2 * $focus-margin );
    right: $field-margin;
    left: initial;
    transform: translate(0, 0);
  }
}

// * 説明アニメーション (filter button) *
#tutorial-animation-about-filter-button:checked ~ .tutorial-container {
  .tutorial-focus {
    $header-padding-y: 10px;
    $header-padding-x: 20px;
    $field-width: 320px;
    $field-height: 38px;
    $button-width: 38px;
    $button-height: 38px;
    $field-margin-left: 15px; 
    $focus-margin: 10px;
    $filter-margin: 45px + $header-padding-x + $field-width + $field-margin-left;
    top: $header-padding-y;
    width: $button-width + ( 2 * $focus-margin );
    height: $button-height + ( 2 * $focus-margin );
    right: $filter-margin;
  }
}

// * 説明アニメーション (filter modal) *
#tutorial-animation-about-filter-modal-start:checked ~ .tutorial-container {
  .tutorial-focus {
    width: 0;
    height: 0;
    transform: translate(-50%, 0);
  }
}

#tutorial-animation-about-filter-modal:checked ~ .tutorial-container {
  .tutorial-focus {
    $modal-margin: 17px;
    $modal-width: 700px;
    $modal-height: 510px;
    $focus-margin: 10px;
    top: $modal-margin;
    
    width: $modal-width + ( 2 * $focus-margin );
    height: $modal-height + ( 2 * $focus-margin );
    left: 50%;
  }
}

// * 説明アニメーション (終わり) *
#tutorial-animation-end:checked ~ .tutorial-container {
  .tutorial-focus {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

// 以下タブレット向け

@include media-breakpoint-down(lg) {
  // * 説明アニメーション (search by free word) *
  #tutorial-animation-about-search-by-free-word:checked ~ .tutorial-container {
    .tutorial-focus {
      $header-padding-y: 10px;
      $header-padding-x: 20px;
      $field-width: 230px;
      $field-height: 38px;
      $field-margin: 55px + $header-padding-x;
      $focus-margin: 10px;
      top: $header-padding-y;
      width: $field-width + ( 2 * $focus-margin );
      height: $field-height + ( 2 * $focus-margin );
      right: $field-margin;
      left: initial;
    }
  }

  // * 説明アニメーション (filter button) *
  #tutorial-animation-about-filter-button:checked ~ .tutorial-container {
    .tutorial-focus {
      $header-padding-y: 10px;
      $header-padding-x: 20px;
      $field-width: 230px;
      $field-height: 38px;
      $button-width: 38px;
      $button-height: 38px;
      $field-margin-left: 15px; 
      $focus-margin: 10px;
      $filter-margin: 55px + $header-padding-x + $field-width + $field-margin-left;
      top: $header-padding-y;
      width: $button-width + ( 2 * $focus-margin );
      height: $button-height + ( 2 * $focus-margin );
      right: $filter-margin;
    }
  }
}

// 以下スマホ向け
@include media-breakpoint-down(sm) {
  .tutorial-container {
    .tutorial-character {
      bottom: 37%;
    }
    .tutorial-message-box {
      bottom: 27%;
      max-width: 100%;
    }
    .tutorial-select {
      width: 100%;
      .tutorial-select-button {
        font-size: 1.4rem;
        height: 10%;
      }
    }
  }

  // * チュートリアル開始アニメーション *
  #tutorial-animation-start:checked ~ .tutorial-container {
    .tutorial-character {
      width: 90%;
    }
  }
  // * 説明アニメーション (map) *
  #tutorial-animation-about-map:checked ~ .tutorial-container {
    .tutorial-focus {
      $map-position-top: 80px;
      $map-width: 100%;
      $map-height: 500px;
      $focus-margin: 10px;
      top: $map-position-top - $focus-margin;
      width: $map-width;
      height: $map-height + ( 2 * $focus-margin );
    }
    .tutorial-message-box {
      bottom: 15%;
    }
  }

  // * 説明アニメーション (geolocation) *
  #tutorial-animation-about-geolocation:checked ~ .tutorial-container {
    .tutorial-focus {
      $map-position-top: 80px;
      $map-height: 500px;
      $button-width: 35px;
      $button-height: 35px;
      $button-margin: 10px;
      $focus-margin: 10px;
      top: $map-position-top + $map-height - $button-margin - $button-height - $focus-margin;
      width: $button-width + ( 2 * $focus-margin );
      height: $button-height + ( 2 * $focus-margin );
      left: 0;
      opacity: 1;
    }
  }

  // * 説明アニメーション (search by map) *
  #tutorial-animation-about-search-by-map:checked ~ .tutorial-container {
    .tutorial-focus {
      $map-position-top: 80px;
      $map-width: 100%;
      $map-height: 500px;
      $button-width: 35px;
      $button-height: 35px;
      $button-margin: 50px;
      $focus-margin: 10px;
      top: $map-position-top + $map-height - $button-margin - $button-height - $focus-margin;
      width: $button-width + ( 2 * $focus-margin );
      height: $button-height + ( 2 * $focus-margin );
      left: 0;
      opacity: 1;
    }
  }

  // * 説明アニメーション (search by free word) *
  #tutorial-animation-about-search-by-free-word-middle:checked ~ .tutorial-container {
    .tutorial-focus {
      width: 0;
      height: 0;
      top: 0;
    }
  }

  #tutorial-animation-about-search-by-free-word:checked ~ .tutorial-container {
    .tutorial-focus {
      $header-padding-y: 10px;
      $header-padding-x: 10px;
      $field-width: 35px;
      $field-height: 35px;
      $field-margin: 38px + $header-padding-x;
      $focus-margin: 10px;
      top: $header-padding-y / 2;
      width: $field-width + ( 2 * $focus-margin );
      height: $field-height + ( 2 * $focus-margin );
      right: $field-margin;
      left: initial;
      transform: translate(0, 0);
    }
  }

  // * 説明アニメーション (filter button) *
  #tutorial-animation-about-filter-button:checked ~ .tutorial-container {
    .tutorial-focus {
      $header-padding-y: 10px;
      $header-padding-x: 10px;
      $field-width: 35px;
      $button-width: 35px;
      $button-height: 35px;
      $field-margin-left: 8px; 
      $focus-margin: 10px;
      $filter-margin: 38px + $header-padding-x + $field-width + $field-margin-left;
      top: $header-padding-y / 2;
      width: $button-width + ( 2 * $focus-margin );
      height: $button-height + ( 2 * $focus-margin );
      right: $filter-margin;
    }
  }

  // * 説明アニメーション (filter modal) *
  #tutorial-animation-about-filter-modal-start:checked ~ .tutorial-container {
    .tutorial-focus {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  #tutorial-animation-about-filter-modal:checked ~ .tutorial-container {
    .tutorial-focus {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
}