$FONT-SIZE-XL: 24px;
$FONT-SIZE-LG: 20px;
$FONT-SIZE-MD: 16px;
$FONT-SIZE-SM: 14px;
$FONT-SIZE-XS: 12px;

$FONT-WEIGHT-X-BOLD: 900;
$FONT-WEIGHT-BOLD: 700;
$FONT-WEIGHT-MEDIUM: 500;
$FONT-WEIGHT-NORMAL: 400;
$FONT-WEIGHT-LIGHT: 200;